---
import Layout from "../layouts/Layout.astro";
import Accommodation from "../components/Accommodation.astro";
import SliderContainer from "../components/SliderContainer.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-24">
    <Accommodation />
    <SliderContainer />
  </main>
</Layout>
