---
import CardAccommodation from "./CardAccommodation.astro";
---

<div class="w-11/12 mx-auto relative flex">
  <picture class="w-9/12 ml-auto">
    <img
      src="https://a0.muscache.com/im/pictures/1fc28506-d659-4588-a787-4dd290a7c230.jpg?im_w=1440"
      alt="Alojamiento en Tromso"
      class="object-cover rounded-xl"
    />
  </picture>
  <div class="absolute z-10 inset-y-0 left-0 flex items-center justify-center">
    <CardAccommodation />
  </div>
</div>
