---

---

<header class="mb-16 py-6 shadow-md">
  <div class="flex justify-between items-center w-11/12 mx-auto">
    <h3 class="text-4xl font-semibold text-neutral-800">Tromsø</h3>
    <nav class="flex gap-4 text-neutral-700 items-center">
      <li>Inicio</li>
      <li>Acerca de</li>
      <li>Galería</li>
      <li>Excursiones</li>
      <button
        class="bg-[#E41761] text-white py-3 px-5 border border-transparent rounded-lg hover:bg-white hover:border-[#E41761] hover:text-neutral-700 transition duration-300"
        >Tienda</button
      >
    </nav>
  </div>
</header>
