---

---

<div class="w-11/12 mx-auto flex flex-col gap-3">
  <h2 class="text-3xl font-medium">
    Alojamientos para vacaciones con las mejores calificaciones en Tromsø
  </h2>
  <p class="text-neutral-600 font-medium">
    Los huéspedes están de acuerdo: estas estadías tienen excelentes
    calificaciones por su ubicación y limpieza, entre otros aspectos.
  </p>
</div>
